{% extends 'base.html' %}
{% block title %}Whoosh - Share As You Want{% endblock %}
{% block meta_tags %}
  <meta name="description"
        content="Host all your blogposts and projects at one place.">
  <meta property="og:title" content="Whoosh - Share As You Want">
  <meta property="og:description"
        content="Host all your blogposts and projects at one place.">
  <meta property="og:image"
        content="{{ url_for('static', filename='img/landing.jpg') }}">
  {% if "localhost" in request.host %}
    <meta property="og:url"
          content="{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% else %}
    <meta property="og:url"
          content="https://{{ request.host }}{{ url_for(request.endpoint, **request.view_args) }}">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Whoosh">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/main/landing-page.css') }}" />
{% endblock %}
{% block body %}
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="col-auto p-0">
        <img src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Logo"
             width="36"
             height="36" />
      </div>
      <div class="col-auto">
        <a href="{{ url_for("main.landing_page") }}"
           class="text-decoration-none text-black">
          <h5 class="ps-1 pt-2 fw-bold">Whoosh</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="container hero-section">
    <div class="row">
      <div class="col-9 col-lg-7 col-xxl-5 py-5 mx-auto">
        <h1 class="display-4 fw-bold">Share thoughts and works at once</h1>
        <p class="py-4">
          Whoosh is a perfect solution for hosting your content, including
          blogging and project showcases. All come with markdown-support.
        </p>
        <a class="btn btn-get-started fw-bold"
           href="{{ url_for("main.signup") }}">Get Started</a>
      </div>
      <div class="col-xxl-6 text-center d-none d-xxl-block">
        <img class="img-fluid"
             src="{{ url_for('static', filename='img/landing.jpg') }}"
             alt="" />
      </div>
    </div>
  </div>
  <div class="py-5 bg-light-grey">
    <div class="container">
      <div class="text-center pb-3">
        <h3>Features</h3>
      </div>
      <div class="row">
        <div class="col-md-4 pb-3">
          <div class="card card-hover rounded-0 border-0 shadow-sm">
            <div class="card-body">
              <h1 class="ps-3 py-3 icon-orange">
                <i class="fa-solid fa-pen-to-square"></i>
              </h1>
              <h5 class="card-title py-3">Simple yet intuitive blogging</h5>
              <p class="card-text text-grey pb-4">
                Create and share elegant posts effortlessly with our Markdown-powered, feature-rich blogging platform.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3">
          <div class="card card-hover rounded-0 border-0 shadow-sm">
            <div class="card-body">
              <h1 class="ps-3 py-3 icon-orange">
                <i class="fa-solid fa-palette"></i>
              </h1>
              <h5 class="card-title py-3">Share your works via Whoosh</h5>
              <p class="card-text text-grey pb-4">
                Showcase your passion and projects beautifully with Whoosh—where creativity meets elegance.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3">
          <div class="card card-hover rounded-0 border-0 shadow-sm">
            <div class="card-body">
              <h1 class="ps-3 py-3 icon-orange">
                <i class="fa-solid fa-font-awesome"></i>
              </h1>
              <h5 class="card-title py-3">Create your personal changelog</h5>
              <p class="card-text text-grey pb-4">
                Celebrate your journey and track personal growth with our sleek, simple Personal Changelog feature.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="d-md-block d-none">
        <hr class="my-4" />
      </div>
      <div class="text-center">
        <p class="small">
          &copy; 2024 - <span id="yearTag"></span> Whoosh. All rights reserved. <a href="https://github.com/hengtseChou/whoosh" class="text-white">Check out Whoosh on GitHub!</a>
        </p>
      </div>
    </div>
  </footer>
{% endblock %}
{% block script %}{% endblock %}
